.black-box {
  width: 200px;
  height: 200px;
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:3px;
  padding: 5px;

  span {
    color: blue;
  }

}

.row {
  margin-left: 100px;
  margin-bottom: 50px;
  display: flex;
}

.color {
  color: yellow;
}
