.black-box {
  width: 200px;
  height: 200px;
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:3px;
  padding: 5px;

  span {
    color: blue;
  }

}

.row {
  margin-left: 100px;
  margin-bottom: 50px;
  display: flex;
}

.color {
  color: yellow;
}

.balloon {
  display: flex; //iscentruoti mygtuka viduje
  justify-content: center; //iscentruoti mygtuka viduje
  align-items: center; //iscentruoti mygtuka viduje
  background-color: red; //suteikti spalva
  width: 300px; // duoti ploti is auksti
  height: 300px;
  border-radius: 50%; //kad butu apskritimas
  margin: 20px; //kad nebutu susiklijave square su circle
}
  


