@import "App.scss";

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.blue-square {
  display: flex; //iscentruoti mygtuka viduje
  justify-content: center; //iscentruoti mygtuka viduje
  align-items: center; //iscentruoti mygtuka viduje
  background-color: blue; //suteikti spalva
  width: 300px; // duoti ploti is auksti
  height: 300px;
  margin: 20px;
}

.red-circle {
  display: flex; //iscentruoti mygtuka viduje
  justify-content: center; //iscentruoti mygtuka viduje
  align-items: center; //iscentruoti mygtuka viduje
  background-color: red; //suteikti spalva
  width: 300px; // duoti ploti is auksti
  height: 300px;
  border-radius: 50%; //kad butu apskritimas
  margin: 20px; //kad nebutu susiklijave square su circle
}

.FourSquares {
  display: flex; //iscentruoti mygtuka viduje
  justify-content: center; //iscentruoti mygtuka viduje
  align-items: center; //iscentruoti mygtuka viduje
  background-color: blue; //suteikti spalva
  width: 300px; // duoti ploti is auksti
  height: 300px;
  margin: 20px;
}

.eight-circles {
  display: flex; //iscentruoti mygtuka viduje
  justify-content: center; //iscentruoti mygtuka viduje
  align-items: center; //iscentruoti mygtuka viduje
  background-color: red; //suteikti spalva
  width: 210px; // duoti ploti is auksti
  height: 210px;
  border-radius: 50%; //kad butu apskritimas
  margin: 20px;
}


// CowField mygtukas
.hide {
  display: none;
}

button {
  display: block;

  font-family: "Open Sans", Helvetica, Arial, sans-serif;

  font-weight: 600;

  text-transform: uppercase;

  font-size: 0.75em;

  letter-spacing: 1px;

  height: 38px;

  width: 120px;

  line-height: 38px;

  overflow: hidden;

  background: #4dbecf;

  border-radius: 3px;

  box-shadow: 0 15px 30px rgba(black, 0.1);

  border: 0;

  cursor: pointer;

  transition: all 0.3s ease;

  &:hover,
  &:focus {
    box-shadow: 0 5px 15px rgba(black, 0.1);
  }

  &.animated {
    animation: 0.75s short-press cubic-bezier(0.77, 0, 0.175, 1) forwards;
  }

  > span {
    display: block;

    color: white;

    text-align: center;

    &.pre-state-msg {
      transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);

      transition-delay: 0.75s;
    }
  }

  &.state-1 {
    .pre-state-msg {
      margin-top: -38px;
    }
  }

  &.state-2 {
    .pre-state-msg {
      margin-top: -76px;
    }
  }
}

.circler {
  display: flex; //iscentruoti mygtuka viduje
  justify-content: center; //iscentruoti mygtuka viduje
  align-items: center; //iscentruoti mygtuka viduje
  flex-direction: column; //kad butu isdeliota stulpeliu
  background-color: red; //suteikti spalva
  width: 300px; // duoti ploti is auksti
  height: 300px;
  border-radius: 50%; //kad butu apskritimas
  margin: 20px; //kad nebutu susiklijave square su circle
  span {
    font-size: 40px;
  }
}

.sq {
  display: flex; //iscentruoti mygtuka viduje
  justify-content: center; //iscentruoti mygtuka viduje
  align-items: center; //iscentruoti mygtuka viduje
  width: 300px; // duoti ploti is auksti
  height: 300px;
  margin: 20px;
  border: 4px dotted deeppink; //remas
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);//kas leciau keistusi spalva
}


